.App {
  text-align: center;
}

.logo {
  top: 0;
  left: -1%;
  position: relative;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
  top: -5%;
  left: 0;
  position: absolute;
}

.App-logo2 {
  height: 50vmin;
  pointer-events: none;
  top: -5%;
  left: 0;
  position: absolute;
}

.App-logo-text {
  height: 45vmin;
  top: 5%;
  left: 5%;
  pointer-events: none;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-text {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #53BDF9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
